/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*GENERAL*/
html {
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */
header{
    background-color: black;
    height: 30px;
    width: 100%;
}

.header-icons{
    text-align: center;
    color: white;
    height: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 10px;
}

.header-icon-1{
    width: 135px;
    height: 20px;
    background-color: gray;
    border-radius: 5px;
    padding-top: 2px;
}

.header-icon-2{
    width: 30px;
    height: 20px;
    background-color: gray;
    border-radius: 5px;
    font-size: small;
    margin-left: 5px;
    padding-top: 2px;

}